@import url(fonts/stylesheet.css);
@import url(idangerous.swiper.css);
@import url(jquery.fancybox.css);
@import url(http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css);


body{
    background-image: url(../images/1024x768.jpg);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center 100%;
    background-size:cover;
    min-width:960px;
    padding-top:108px;
    color:#000;

      transition:background-image 0.8s 0.3s ease;
   -moz-transition:background-image 0.8s 0.3s ease;
    -ms-transition:background-image 0.8s 0.3s ease;
     -o-transition:background-image 0.8s 0.3s ease;
-webkit-transition:background-image 0.8s 0.3s ease;
}

.bg-image{
    transition: background-image 0.8s 0.3s ease;
    -moz-transition: background-image 0.8s 0.3s ease;
    -ms-transition: background-image 0.8s 0.3s ease;
    -o-transition: background-image 0.8s 0.3s ease;
    -webkit-transition: background-image 0.8s 0.3s ease;
}
.container{
max-width:1570px;
min-width:960px;
position:relative;
}

/* ------------------------------------------ */
/* Default css */
/* ------------------------------------------ */
.b-ul1{
font:16px DinProRegular;
list-style:none;
padding:0;
margin:0;
margin-top: 26px;
}
.b-ul1 li{
background: url(../images/li.png) no-repeat 0 9px;
padding-left: 17px;
margin-top: 4px;
}
h3{
font: 22px DinProRegular;
background: #FF9400;
display: inline-block;
position: relative;
text-transform: uppercase;
margin: 0;
padding: 2px 10px;
padding-right: 4px;
}
h3:after{
content: '';
width: 0;
height: 0;
border-top: 32px solid #FF9400;
border-right: 19px solid rgba(0, 0, 0, 0);
position: absolute;
right: -18px;
top: 0;
}

.lt-ie9 h3{
padding: 2px 10px;
}

.b-intro-img{
margin-bottom: 30px;
position:relative;
overflow:hidden;
}
.b-intro-img img{
transition:all 1.5s ease;
-moz-transition:all 1.5s ease;
-ms-transition:all 1.5s ease;
-o-transition:all 1.5s ease;
-webkit-transition:all 1.5s ease;
}
.b-intro-img:hover img{
transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
-webkit-transform:scale(1.2);
}

.b-intro-img b{
width: 0;
height: 0;
border-bottom: 562px solid #fff;
/* border-left: 250px solid rgba(0, 0, 0, 0); */
position: absolute;
right: 1px;
top: -265px;
z-index:3;
}
.b-title-page{
background: #292C33;
font: 22px DinProRegular;
text-transform: uppercase;
color: #FFF;
margin: 0;
margin-left: -29px;
padding: 15px 0px 18px 28px;
margin-right: 43px;
position:relative;
}
.b-title-page b{
width: 0;
height: 0;
border-top: 60px solid #292C33;
border-right: 40px solid rgba(0, 0, 0, 0);
position: absolute;
right: -39px;
top: 0;
}

.b-pay-info-block{margin-top: 34px;margin-bottom: 30px;}
.b-pay-info{
background: #FFC90F url(../images/pay.png) no-repeat 21px 14px;
color: #292C33 !important;
text-decoration: none !important;
display: inline-block;
font: 22px DinProRegular;
height: 60px;
padding-left: 64px;
padding-right: 20px;
line-height: 58px;
}

/* ------------------------------------------ */
/* Overlay */
/* ------------------------------------------ */
.b-overlay{
background:url(../images/overlay.png);
position:fixed;
left:0;
top:0;
bottom:0;
right:0;
z-index: 3;
display:none;
}
.b-body-header .b-overlay{
position:absolute;
}
.b-container-basket .b-container{
margin: 0 auto;
max-width: 1525px;
}
.b-container-order .b-basket{
background: #292C33;
}

.b-basket{
background: #FFF;
padding: 30px;
width: 770px;
padding-top: 0;
position:relative;
margin:auto;
}
.b-close{
position: absolute;
right: 30px;
top: 27px;
}
.b-container-basket, .b-container-order{
position: absolute;
left: 0;
top: 0;
right: 0;
bottom: 0;
z-index: 5;
display:none;
}

.b-down-scroll{
position: absolute;
left: 25%;
bottom: 100px;
z-index: 2;
display: none;
}

.b-basket .b-title-page{
margin-left: -30px;
width: 180px;
margin-bottom: 21px;
}
.b-basket .b-text{
font:18px DinProRegular;
}
.b-slider-block{
background: #F3F3F3;
min-height: 121px;
margin-top: 26px;
padding: 20px;
padding-top: 17px;
padding-bottom: 10px;
}
.b-price, .b-quadrate{
display:inline-block;
width:258px;
position:relative;
font:18px DinProRegular;

}
.b-slider-name{
font:18px DinProBold;
margin-bottom: 15px;
}

.b-quadrate{
margin-right: 27px;
}
.b-price{

}

.b-data-quadrate {
position: absolute;
right: 0;
top: 0;
}

.ui-widget-content{
border:none;
background: #D9D9D9;
box-shadow: inset -1px 1px 2px #A7A7A7;
-moz-box-shadow: inset -1px 1px 2px #A7A7A7;
-ms-box-shadow: inset -1px 1px 2px #A7A7A7;
-o-box-shadow: inset -1px 1px 2px #A7A7A7;
-webkit-box-shadow: inset -1px 1px 2px #A7A7A7;
}
.ui-widget-header{
background: #EF921C;
border:none;
box-shadow: inset 1px 1px 1px #B87016;
-moz-box-shadow: inset 1px 1px 1px #B87016;
-ms-box-shadow: inset 1px 1px 1px #B87016;
-o-box-shadow: inset 1px 1px 1px #B87016;
-webkit-box-shadow: inset 1px 1px 1px #B87016;
}

.ui-slider-handle.ui-state-default{
background: url(../images/slider_arrow.png);
border: none;
border-radius: 0;
width: 15px;
height: 22px;
outline:none;
top: 13px;
}
.ui-slider-handle.sliderarrow0{
background: url(../images/slider_arrow.png) left 0;
margin-left: 0;
}
.ui-slider-handle.sliderarrow1{
background: url(../images/slider_arrow.png) right 0;
margin-left: -15px;
}
.ui-corner-all{
border-radius:0 !important;
height: 13px;
}



/* ------------------------------------------ */
/* Header */
/* ------------------------------------------ */
.b-body-header{
background:#292c33;
position:fixed;
left:0;
right:0;
top:0;
z-index: 8;
}
.b-body-header .container{
height:108px;
background:url(../images/top_shd.png) 533px 7px no-repeat;

transition:background 1s ease;
-moz-transition:background 1s ease;
-ms-transition:background 1s ease;
-o-transition:background 1s ease;
-webkit-transition:background 1s ease;
}
.b-body-header .b-logo{
position: absolute;
left: 45px;
top: 0;
}

/* ------------------------------------------ */
/* Menu */
/* ------------------------------------------ */
.b-menu{
position: absolute;
top: 8px;
left: 3px;
}
.b-menu li:first-child{
left: 2px;
top: -6px;
position:relative;
}
.b-menu li:first-child a{
border:none;
}

.b-menu li:not(:first-child) {
    top: -50px;
    position: relative;
}
.b-menu li{
display:inline;
margin-right: 38px;

}
.b-menu a{
font:13px DinProRegular;
text-transform:uppercase;
color:#fff;
text-decoration:none;
display:inline-block;
border-bottom:1px solid #666666;
line-height:100%;
}
.b-menu a:hover{
border:none;
color:#fff484;
}
.b-menu li.active a{
border:none;
color:#fff484;
}
/* ------------------------------------------ */
/* Page */
/* ------------------------------------------ */

.b-page{
max-width:958px;
padding-bottom: 165px;
position:relative;
}
.b-page p{
font:16px Arial, Helvetica, sans-serif;
line-height: 24px;
margin-bottom: 10px;
}
.b-page h2{
margin:0;
font:36px DinProRegular;
border-bottom: 1px solid #999;
position: relative;
z-index: 1;
padding-bottom: 25px;
}
.b-page header{
/* background: #FFF; */
background: rgba(255,255,255,0.8);
max-width: 770px;
position: relative;
padding: 20px 30px;
padding-right: 0;
padding-bottom: 0;
}
.b-page .b-body{
max-width:770px;
padding-left: 29px;
padding-right: 27px;
background: rgba(255,255,255,0.8);
}
.b-page header b{
width: 0;
height: 0;
border-top: 430px solid rgba(255,255,255,0.8);
border-right: 188px solid transparent;
position: absolute;
right: -76px;
top: 0;
position:absolute;
top:0;
left: 770px;
}
.b-wraper-page{
position:relative;
z-index:1;
}
.b-bg-page{
position: fixed;
/*background: rgba(255,255,255,0.8);*/
width: 770px !important;
height: 10000px;
z-index: 1;
}

.b-intro-text{
font:bold 16px Arial, Helvetica, sans-serif;
border-bottom: 1px solid #999;
padding-top: 26px;
padding-bottom: 11px;
}
.b-intro-text p{
line-height: 24px;
margin-bottom: 12px;
}
.b-full-text{
font:16px Arial, Helvetica, sans-serif;
margin-top: 24px;
margin-bottom: 24px;
}
.b-full-text p{
line-height: 24px;
margin-bottom: 10px;
}
.b-box-small{
margin:0;
padding:0;
list-style:none;
}
.b-box-small li{
display: inline-block;
width: 49%;
vertical-align:top;
font:16px Arial, Helvetica, sans-serif;
margin-right: 0;
margin-bottom: 30px;
}
.b-box-small li:after{
clear:both;
}

.b-box-small img{
display:inline-block;
float:left;
width:39px;
}
.b-box-small span{
display: inline-block;
float: left;
width: 176px;
margin-left: 20px;
}
.b-data-block{
position: absolute;
right: -257px;
top: 437px;
width: 445px;
z-index: 1;
overflow: hidden;
}
.b-data-block .b-block1{
color: #FFF;
font: 16px Arial, Helvetica, sans-serif;
line-height: 24px;
position:relative;
width: 481px;
overflow:hidden;
margin-left: -20px;
}
.b-data-block .b-block1 .b-wraper{
width: 280px;
background: #FF9400;
padding: 26px 29px;
padding-bottom:15px;
padding-right: 0;
padding-left: 44px;
opacity: 0.8;
}

.b-data-block .b-block1 b{
content: '';
width: 0;
height: 0;
border-top: 448px solid #FF9400;
border-right: 199px solid rgba(0, 0, 0, 0);
position: absolute;
bottom: -5px;
right: 2px;
opacity: 0.8;
}

.b-metro-block{
margin-bottom: 13px;
}
.b-data-block .b-block1 p{
margin:0;
margin-bottom: 11px;
}
.b-data-block .b-title{
margin-top: -7px;
margin-bottom: 3px;
font:22px DinProBold;
}

.b-metro{
background: url(../images/metro.png) no-repeat 0 7px;
padding-left: 29px;
height: 25px;
line-height: 31px;
}

.b-button-order{
background: #292C33;
display: inline-block;
font: 18px Arial, Helvetica, sans-serif;
color: #FFF;
text-decoration: none;
padding: 24px 24px 0px 29px;
height: 77px;
position: relative;
margin-top: 31px;
margin-left: -24px;
padding-left: 51px;
opacity: 0.8;
}
.b-button-order:hover{
color:#ffa12a;
border:none;
}
.b-button-order:hover span{
border-color:#7f5b2f !important;
}

.b-button-order b{
content: '';
width: 0;
height: 0;
border-top: 88px solid #292C33;
border-right: 37px solid rgba(0, 0, 0, 0);
position: absolute;
top: 0;
right: -33px;
}
.b-button-order span{
border-bottom:1px solid #6f6f6f;
display:inline-block;
}

.b-table-order thead:after{
content: '';
position: absolute;
background: #292C33;
width: 30px;
height: 60px;
left: -30px;
top: 0;
}
.b-table-order{
margin-top: 30px;
position:relative;
}
.b-table-order thead{
background:#292c33;
font:18px DinProRegular;
color:#fff;
position:relative;
}
.b-table-order thead td{
padding: 19px 0;
}
.b-table-order thead td:first-child{
padding: 19px 0;
}
.b-table-order td{
text-align: center;
}
.b-table-order tbody td{
border-bottom: 1px solid #CECECE;
padding-top: 4px;
padding-bottom: 5px;
}
.b-table-order .b-col1{
width: 86px;
}
.b-table-order .b-col2{
width: 232px;
}
.b-table-order .b-col3{
width: 130px;
}
.b-table-order .b-col4{
width: 160px;
}
.b-table-order .b-col5{
width: 101px;
}
.b-order{
background: #EF921C;
display: inline-block;
color: #292C33 !important;
text-decoration: none !important;
height: 30px;
line-height: 31px;
vertical-align: top;
padding: 0 28px;
}
.b-table-scroll{
overflow: auto;
height: 240px;
}
.b-table-scroll .b-table-order{
margin-top:0;
}

/* ------------------------------------------ */
/* Galery */
/* ------------------------------------------ */
.b-galery-container{
padding-top: 26px;
padding-bottom: 26px;
}
h3{
margin-bottom: 31px;
}
.b-galery{

margin-bottom: 30px;
padding-right: 2px;
}
.b-galery .col-md-4{
padding-right:0;
}
.b-galery a{
display:inline-block;
position:relative;
vertical-align:top;
overflow:hidden;
}
.b-galery a img{
transition:all 1.5s ease;
-moz-transition:all 1.5s ease;
-ms-transition:all 1.5s ease;
-o-transition:all 1.5s ease;
-webkit-transition:all 1.5s ease;
}
.b-galery a:hover img{
transform:scale(1.2);
-moz-transform:scale(1.2);
-ms-transform:scale(1.2);
-o-transform:scale(1.2);
-webkit-transform:scale(1.2);
}
.b-galery a b{
position:absolute;
right: 11px;
bottom: 11px;
width:24px;
height:24px;
background:url(../images/zoom.png);
}
/* ------------------------------------------ */
/* Infastructura */
/* ------------------------------------------ */
.b-map{
margin-top: 24px;
margin-bottom: 31px;
}
.b-list-service .row{
margin-bottom: 30px;
}
.b-list-service strong{
display:block;
}

.b-list-service .col-md-10{
padding-left:0;
}
.b-list-service .col-md-10 p {
margin-top: -8px;
}
.b-box-inner{
margin-top: 29px;
padding-right: 7px;
border-bottom: 1px solid #999;
padding-bottom: 14px;
}

.b-box-inner .col-md-4{
padding-right: 37px;
} 
.b-box-inner .b-img{
margin-bottom: 15px;
width:81px;
position:relative;
overflow:hidden;
}

.b-box-list .b-img{
position:relative;
overflow:hidden;
}

.b-box-inner .b-img b, .b-box-list .b-img b{
position:absolute;
left:0;
top:0;
right:0;
bottom:0;
background:url(../images/glow_img.png) no-repeat;
}

.js-logo-blur{
    height: 100px;
    width: 81px;
    overflow: hidden;
}

.js-logo-blur b{
    z-index: 999999;
    height: 91px;
    width: 91px;
    position: relative;
    display: block;
    left:60px;
    top:-40px;
    background:url(../images/glow_img.png) no-repeat;
}

.b-box-inner strong{
display:block;
}

.b-level-block{
padding-top: 30px;
padding-left: 1px;
}
.b-level-block .b-first{
}
.b-level-block .b-center1{
text-align:center;
padding-left:9px;
}
.b-level-block .b-center2{
text-align:center;
padding-left:23px;
}
.b-level-block .b-last{
text-align:right;
}


.b-level{
background:#292c33;
display:inline-block;
width: 128px;
height: 127px;
position:relative;
text-decoration:none !important;
}
.b-level .b-num{
display:block;
text-align:center;
color:#fff;
font:60px DinProBold;
margin-bottom: 3px;
}
.b-level .b-name{
font:22px DinProRegular;
text-transform:uppercase;
display:block;
text-align:center;
color:#ef921c;
}
.b-level b{
position:absolute;
right: 10px;
top: 10px;
width:16px;
height:16px;
background:url(../images/zoom1.png)
}
/* ------------------------------------------ */
/* Offer */
/* ------------------------------------------ */
.b-offer-block{
text-align:center;
margin-top: 30px;
}
.b-offer-block  .b-offer{
width:190px;
font:16px DinProBold;
margin:auto;
}
.b-offer-block .b-wraper{
border-radius: 50%;
width: 198px;
height: 198px;
border: 4px solid #FFC600;
overflow: hidden;
}
.b-offer-block img{
display:block;
margin-bottom: 15px;
border-radius:50%;
}

.b-offer:hover img{

}
/* ------------------------------------------ */
/* Contact */
/* ------------------------------------------ */
.b-contact{
padding-top: 26px;
}
.b-contact h3{
margin-bottom: 21px;
}
.b-contact p{
margin-bottom: 23px;
}
.b-from-send{
background: #292C33;
margin-left: -29px;
padding-left: 29px;
padding-bottom: 28px;
}

.b-from-send h3 {
margin-bottom: 33px;
}
.b-name-field{
font: 18px DinProRegular;
color: #FFF;
display: inline-block;
vertical-align: top;
width: 175px;
margin-right: 10px;
}
.b-filed{
display: inline-block;
vertical-align: top;
}
.b-radio {
cursor: pointer;
font: 14px Arial, Helvetica, sans-serif;
color: #FFF;
position: relative;
display: block;
margin-top: 4px;
margin-bottom: 13px;
line-height: 19px;
}
.b-radio input {
    position: absolute;
    left: -9999em;
    top: 0px;
}
.b-radio .b-input {
background: url(../images/radio.png) left top;
display: inline-block;
width: 19px;
height: 19px;
vertical-align: top;
margin-right: 8px;
}
.b-radio.b-active .b-input {
    background: url(../images/radio.png) left bottom;
}
.requaed{
color:#ffc905;
margin-left: 4px;
}
.b-input-text{
background:#5e616a;
border:none;
border-top:1px solid #18181b;   
width: 491px;
height: 30px;
-webkit-box-shadow:inset 0 1px 0 #292B2F, inset 0 2px 0 #4c4f56;
   -moz-box-shadow:inset 0 1px 0 #292B2F, inset 0 2px 0 #4c4f56;
    -ms-box-shadow:inset 0 1px 0 #292B2F, inset 0 2px 0 #4c4f56;
     -o-box-shadow:inset 0 1px 0 #292B2F, inset 0 2px 0 #4c4f56;
        box-shadow:inset 0 1px 0 #292B2F, inset 0 2px 0 #4c4f56;
}
textarea.b-input-text{
height: 90px;
}

.b-item-form{
margin-bottom: 20px;
}
.b-radio-block.b-item-form{
margin-bottom: 12px;
}
.b-button1{
border: none;
font: 18px DinProRegular;
background: #FFC905;
color: #292C33;
height: 40px;
padding: 0 18px;
}
.b-button{
text-align: right;
padding-right: 33px;
margin-top: 30px;
}


/* ------------------------------------------ */
/* Footer */
/* ------------------------------------------ */
.b-bottom-from{
position: fixed;
left: 0;
bottom: 0;
right: 0;
z-index: 1;
}
.b-bottom-from .b-line{
background: url(../images/footer_bg.png) no-repeat right 0;
width: 2500px;
height: 90px;
position: absolute;
left: -1618px;
}
.b-bottom-from .b-line.black{
background: url(../images/footer_bg_black.png) no-repeat right 0;
}
.b-footer-ring{
position: absolute;
font-weight:normal;
margin-left:540px;
margin-top:18px;
font: 16px DinProRegular;
}
.b-footer-ring a{
color:#fff;
text-decoration:underline;
}
.b-footer-ring a:hover{
text-decoration:none;
}
.b-contact-footer{
padding-top: 17px;
padding-left: 81px;
position: relative;
}
.b-bottom-from .container{
height:90px;
}
.b-footer-gliph{
    position: absolute;
    top: 15px;
    left: 8px;
}

.b-footer-tel{
color: #FFF;
font: 16px DinProRegular;
float: left;
margin-right: 35px;
}
.b-footer-tel p{
margin:0;
}
.b-footer-tel .b-num{
font-size:26px;
}
/* ------------------------------------------ */
/* Main top */
/* ------------------------------------------ */
.b-main-top-container{
padding-bottom:148px;
}
.b-main-top{
width:590px;
height:308px;
background:url(../images/main_top_bg.png) no-repeat;
padding-left: 26px;
position:relative;
position: relative;
top: -308px;
}
.b-main-top h2{
margin: 0;
font: 36px DinProRegular;
padding-top: 19px;
}
.b-main-top .b-txt{
border-top: 1px solid #DDD;
margin-top: 25px;
margin-left: 3px;
width: 416px;
}

.b-main-top .b-type1{
font: 23px DinProBold;
margin-top: 19px;
margin-bottom: 4px;
}
.b-main-top .b-type2{
font:17px DinProBold;
}
.b-main-top .b-links{
position: absolute;
left: 514px;
top: 89px;
padding-left: 15px;
overflow: hidden;

-webkit-transform: skew(-24deg);
   -moz-transform: skew(-24deg);
    -ms-transform: skew(-24deg);
     -o-transform: skew(-24deg);
        transform: skew(-24deg);
}
.b-main-top .b-links .b-wraper{
position: relative;
overflow: hidden;
left: -12px;
}
.b-main-top .b-links a{
margin-left: -77px;
display: block;
padding-left: 45px;
background: url(../images/main_top_link_bg.png) no-repeat right 0;
width: 387px;
height: 81px;
text-align: center;
color: #FFF;
font: 22px DinProBold;
margin-bottom: 1px;
position: relative;
left: -297px;
-webkit-transform: skew(24deg);
   -moz-transform: skew(24deg);
    -ms-transform: skew(24deg);
     -o-transform: skew(24deg);
        transform: skew(24deg);

}
.b-main-top .b-links a span{
display:inline-block;
border-bottom:1px solid #FFB04A;
padding-top: 24px;
}
.b-box-list{
margin-top: 30px;
margin-left: 0;
}

.b-box{
display:inline-block;
width:260px;
height:250px;
background:url(../images/box_bg.png) no-repeat;
font:16px DinProRegular;
vertical-align:top;
margin-right: 26px;
margin-bottom: 26px;

opacity:0;
}
.b-box-list .b-img{
margin-left: 30px;
width:81px;
overflow:hidden;
}
.b-box .b-txt{
padding: 14px 29px;
line-height: 24px;
padding-right: 64px;
}
/* ------------------------------------------ */
/* Levels */
/* ------------------------------------------ */

.b-level-container{
position: absolute;
top: 133px;
left: 0;
right:0;
bottom:0;
z-index: 5;
color:#fff;
display:none;
}
.b-overlay1{
background: url(../images/overlay.png);
position: fixed;
left: 0;
top: 0;
bottom: 0;
right: 0;
z-index: 3;
display:none;
}



.b-level-container .b-name{
color:#fff;
font:22px DinProRegular;
text-transform:uppercase;
}
.b-level-container .b-close{
position: absolute;
right: auto;
top: 3px;
left: 114px;
color:#fff;
text-decoration:underline;
}
.b-level-container .b-close img {
margin-right: 10px;
}

.b-legenda .b-color{
width:39px;
height:39px;
display:inline-block;
vertical-align:middle;
margin-right:15px;
background:#c3cbd0;
}
.b-legenda .b-color.b-free{
background:#c7de85;
}
.b-room{
position:absolute;
z-index:0;
}
.b-plane{
position:relative;
z-index:1;
}
.b-plane > img{
position:relative;
z-index:1;
}

.b-level1 .b-r1{
left: 1057px;
top: 224px;
}

.b-level-plane{
max-width: 1200px;
margin: auto;
position:relative;
display:none;
}

.b-level-down .b-r1{
left: 970px;
top: 137px;
}
.b-level-down .b-r2{
left: 971px;
top: 30px;

}
.b-level-down .b-r3{
left: 649px;
top: 240px;
}



.b-legenda{
margin-top: 18px;
}

.b-legenda .b-item{
margin-bottom: 10px;
}

.js-loaderoverlay img{
    margin-top: -50px;
    margin-left: -40px;
}

.js-loaderoverlay{
    height: 100%;
    width: 100%;
    background: #292c33;
    z-index: 999999;
    position: fixed;
    top: 0px;
    left: 0px;
}

#canvasloader-container{
    left: 50%;
    top: 50%;
    position: absolute
}

.js-boximg1{
    background: url(../images/boximg1.png) no-repeat;
    position: absolute;
    top: 18px;
    left: 18px;
    height: 40px;
    width: 49px;
}

.js-boximg2{
    background: url(../images/boximg2.png) no-repeat;
    position: absolute;
    top: 18px;
    left: 23px;
    height: 48px;
    width: 40px;
}

.js-boximg3{
    background: url(../images/boximg3.png) no-repeat;
    position: absolute;
    top: 18px;
    left: 23px;
    height: 42px;
    width: 40px;
}
.js-boximg4{
    background: url(../images/boximg_footer.png) no-repeat;
    position: absolute;
    top: 13px;
    left: 13px;
    height: 42px;
    width: 40px;
}

.js-lvl1-1{
    background: #c7de85;
    width: 54px;
    height: 102px;
    position: absolute;
    left: 1060px;
    top: 120px;
    z-index: 0;
}

.js-mask{
    -webkit-transition-property: top, left;
    -moz-transition-property: top, left;
    -o-transition-property: top, left;
    transition-property: top, left;
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    -o-transition-duration: 0.2s;
    transition-duration: 0.2s;
}

.lvl1-0{
    left: 1060px;
    top: 225px;
    width: 55px;
    height: 57px;
    background: url(../images/lvls-bg/level1_1.png) no-repeat;
    position: absolute;
    z-index: 3;
}

.lvl1-0:hover{
    left: 1055px;
    top: 230px;
    z-index: 4;
}

.lvl1-1{
    left: 1060px;
    top: 154px;
    width: 93px;
    height: 70px;
    background: url(../images/lvls-bg/1-1.png) 0px -35px no-repeat;
    position: absolute;
    z-index: 3;
}

.lvl1-1:hover{
    left: 1055px;
    top: 159px;
    z-index: 4;
}

.lvl1-1-1{
    left: 1060px;
    top: 118px;
    width: 93px;
    height: 36px;
    background: url(../images/lvls-bg/1-1-1.png) no-repeat;
    position: absolute;
    z-index: 3;
}

.lvl1-1-1:hover{
    left: 1055px;
    top: 123px;
    z-index: 4;
}

.lvl1-2{
    left: 1086px;
    top: 49px;
    width: 28px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/1-2.png) no-repeat;
    z-index: 3;
}

.lvl1-2:hover{
    left: 1081px;
    top: 54px;
    z-index: 4;
}

.lvl1-3{
    left: 1057px;
    top: 50px;
    width: 28px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/1-3.png) no-repeat;
    z-index: 3;
}

.lvl1-3:hover{
    left: 1052px;
    top: 55px;
    z-index: 4;
}

.lvl1-4{
    left: 1086px;
    top: 101px;
    width: 28px;
    height: 15px;
    position: absolute;
    background: #c3cbd0;
    z-index: 3;
}

.lvl1-4:hover{
    left: 1081px;
    top: 106px;
    z-index: 4;
}

.lvl1-5{
    left: 1036px;
    top: 33px;
    width: 28px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/1-5.png) no-repeat;
    z-index: 3;
}

.lvl1-5:hover{
    left: 1031px;
    top: 38px;
    z-index: 4;
}

.lvl1-6{
    left: 526px;
    top: 9px;
    width: 47px;
    height: 70px;
    position: absolute;
    background: url(../images/lvls-bg/1-6.png) no-repeat;
    z-index: 3;
}

.lvl1-6:hover{
    left: 521px;
    top: 14px;
    z-index: 4;
}

.lvl1-7{
    left: 446px;
    top: 9px;
    width: 80px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/1-7.png) no-repeat;
    z-index: 3;
}

.lvl1-7:hover{
    left: 441px;
    top: 14px;
    z-index: 4;
}

.lvl1-8{
    left: 393px;
    top: 7px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/1-8.png) no-repeat;
    z-index: 3;
}

.lvl1-8:hover{
    left: 388px;
    top: 12px;
    z-index: 4;
}

.lvl2-1{
    left: 979px;
    top: 271px;
    width: 67px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-1.png) no-repeat;
    z-index: 3;
}

.lvl2-1:hover{
    left: 974px;
    top: 276px;
    z-index: 4;
}

.lvl2-2{
    left: 1082px;
    top: 196px;
    width: 57px;
    height: 88px;
    position: absolute;
    background: url(../images/lvls-bg/2-2.png) no-repeat;
    z-index: 3;
}

.lvl2-2:hover{
    left: 1077px;
    top: 201px;
    z-index: 4;
}

.lvl2-3{
    left: 1117px;
    top: 154px;
    width: 60px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-3.png) no-repeat;
    z-index: 3;
}

.lvl2-3:hover{
    left: 1112px;
    top: 159px;
    z-index: 4;
}

.lvl2-4{
    left: 1117px;
    top: 134px;
    width: 44px;
    height: 22px;
    position: absolute;
    background: url(../images/lvls-bg/2-4.png) no-repeat;
    z-index: 3;
}

.lvl2-4:hover{
    left: 1112px;
    top: 139px;
    z-index: 4;
}

.lvl2-5{
    left: 1117px;
    top: 109px;
    width: 44px;
    height: 25px;
    position: absolute;
    background: url(../images/lvls-bg/2-5.png) no-repeat;
    z-index: 3;
}

.lvl2-5:hover{
    left: 1112px;
    top: 114px;
    z-index: 4;
}

.lvl2-6{
    left: 1082px;
    top: 112px;
    width: 44px;
    height: 57px;
    position: absolute;
    background: url(../images/lvls-bg/2-6.png) no-repeat;
    z-index: 3;
}

.lvl2-6:hover{
    left: 1077px;
    top: 117px;
    z-index: 4;
}

.lvl2-7{
    left: 1082px;
    top: 170px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-7.png) no-repeat;
    z-index: 3;
}

.lvl2-7:hover{
    left: 1077px;
    top: 175px;
    z-index: 4;
}

.lvl2-8{
    left: 1110px;
    top: 46px;
    width: 44px;
    height: 61px;
    position: absolute;
    background: url(../images/lvls-bg/2-8.png) no-repeat;
    z-index: 3;
}

.lvl2-8:hover{
    left: 1105px;
    top: 51px;
    z-index: 4;
}

.lvl2-9{
    left: 1058px;
    top: 30px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-9.png) no-repeat;
    z-index: 3;
}

.lvl2-9:hover{
    left: 1053px;
    top: 35px;
    z-index: 4;
}

.lvl2-10{
    left: 1082px;
    top: 46px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-10.png) no-repeat;
    z-index: 3;
}

.lvl2-10:hover{
    left: 1077px;
    top: 51px;
    z-index: 4;
}

.lvl2-11{
    left: 594px;
    top: 16px;
    width: 69px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-11.png) no-repeat;
    z-index: 3;
}

.lvl2-11:hover{
    left: 589px;
    top: 21px;
    z-index: 4;
}

.lvl2-12{
    left: 460px;
    top: 13px;
    width: 79px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-12.png) no-repeat;
    z-index: 3;
}

.lvl2-12:hover{
    left: 455px;
    top: 18px;
    z-index: 4;
}

.lvl2-13{
    left: 404px;
    top: 4px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/2-13.png) no-repeat;
    z-index: 3;
}

.lvl2-13:hover{
    left: 399px;
    top: 9px;
    z-index: 4;
}

/* ЧЕТВЕРТЫЙ ЭТАЖ */
.lvl3-1{
    left: 189px;
    top: 226px;
    width: 103px;
    height: 55px;
    position: absolute;
    background: url(../images/lvls-bg/3-1.png) no-repeat;
    z-index: 3;
}

.lvl3-1:hover{
    left: 185px;
    top: 231px;
    z-index: 4;
}

.lvl3-2{
    left: 445px;
    top: 251px;
    width: 58px;
    height: 32px;
    position: absolute;
    background: url(../images/lvls-bg/3-2.png)-173px 1px no-repeat;
    z-index: 3;
}

.lvl3-2:hover{
    left: 440px;
    top: 256px;
    z-index: 4;
}


.lvl3-2-1{
    left: 271px;
    top: 252px;
    width: 42px;
    height: 32px;
    position: absolute;
    background: url(../images/lvls-bg/3-2-1.png) no-repeat;
    z-index: 3;
}

.lvl3-2-1:hover{
    left: 266px;
    top: 257px;
    z-index: 4;
}


.lvl3-2-2{
    left: 311px;
    top: 252px;
    width: 33px;
    height: 32px;
    position: absolute;
    background: url(../images/lvls-bg/3-2-2.png) no-repeat;
    z-index: 3;
}

.lvl3-2-2:hover{
    left: 306px;
    top: 257px;
    z-index: 4;
}


.lvl3-2-3{
    left: 340px;
    top: 252px;
    width: 46px;
    height: 32px;
    position: absolute;
    background: url(../images/lvls-bg/3-2-3.png) no-repeat;
    z-index: 3;
}

.lvl3-2-3:hover{
    left: 335px;
    top: 257px;
    z-index: 4;
}


.lvl3-2-4{
    left: 385px;
    top: 252px;
    width: 60px;
    height: 33px;
    position: absolute;
    background: url(../images/lvls-bg/3-2-4.png) no-repeat;
    z-index: 3;
}

.lvl3-2-4:hover{
    left: 380px;
    top: 257px;
    z-index: 4;
}

.lvl3-3{
   left: 502px;
    top: 252px;
    width: 77px;
    height: 37px;
    position: absolute;
    background: url(../images/lvls-bg/3-3.png) no-repeat;
    z-index: 3;
}

.lvl3-3:hover{
    left: 497px;
    top: 257px;
    z-index: 4;
}

.lvl3-4{
    left: 669px;
    top: 269px;
    width: 26px;
    height: 22px;
    position: absolute;
    background: url(../images/lvls-bg/3-4.png) -70px 0px no-repeat;
    z-index: 3;
}

.lvl3-4:hover{
    left: 664px;
    top: 274px;
    z-index: 4;
}

.lvl3-4-1{
    left: 598px;
    top: 269px;
    width: 46px;
    height: 22px;
    position: absolute;
    background: url(../images/lvls-bg/3-4-1.png) no-repeat;
    z-index: 3;
}

.lvl3-4-1:hover{
    left: 593px;
    top: 274px;
    z-index: 4;
}

.lvl3-4-2{
    left: 643px;
    top: 269px;
    width: 30px;
    height: 22px;
    position: absolute;
    background: url(../images/lvls-bg/3-4-2.png) no-repeat;
    z-index: 3;
}

.lvl3-4-2:hover{
    left: 638px;
    top: 274px;
    z-index: 4;
}

.lvl3-5{
    left: 710px;
    top: 269px;
    width: 44px;
    height: 50px;
    position: absolute;
    background: url(../images/lvls-bg/3-5.png) no-repeat;
    z-index: 3;
}

.lvl3-5:hover{
    left: 705px;
    top: 274px;
    z-index: 4;
}

.lvl3-6{
    left: 822px;
    top: 269px;
    width: 42px;
    height: 23px;
    position: absolute;
    background: url(../images/lvls-bg/3-6.png)-62px 0px no-repeat;
    z-index: 3;
}

.lvl3-6:hover{
    left: 817px;
    top: 274px;
    z-index: 4;
}

.lvl3-6-1{
    left: 760px;
    top: 269px;
    width: 34px;
    height: 23px;
    position: absolute;
    background: url(../images/lvls-bg/3-6-1.png) no-repeat;
    z-index: 3;
}

.lvl3-6-1:hover{
    left: 755px;
    top: 274px;
    z-index: 4;
}

.lvl3-6-2{
    left: 792px;
    top: 269px;
    width: 35px;
    height: 23px;
    position: absolute;
    background: url(../images/lvls-bg/3-6-2.png) no-repeat;
    z-index: 3;
}

.lvl3-6-2:hover{
    left: 787px;
    top: 274px;
    z-index: 4;
}
.lvl3-7{
    left: 864px;
    top: 269px;
    width: 34px;
    height: 22px;
    position: absolute;
    background: url(../images/lvls-bg/3-7.png) no-repeat;
    z-index: 3;
}

.lvl3-7:hover{
    left: 859px;
    top: 274px;
    z-index: 4;
}

.lvl3-8{
    left: 897px;
    top: 269px;
    width: 50px;
    height: 23px;
    position: absolute;
    background: url(../images/lvls-bg/3-8.png) no-repeat;
    z-index: 3;
}

.lvl3-8:hover{
    left: 892px;
    top: 274px;
    z-index: 4;
}

.lvl3-9{
   left: 964px;
    top: 266px;
    width: 66px;
    height: 23px;
    position: absolute;
    background: url(../images/lvls-bg/3-9.png) no-repeat;
    z-index: 3;
}

.lvl3-9:hover{
    left: 959px;
    top: 271px;
    z-index: 4;
}

.lvl3-10{
    left: 1072px;
    top: 264px;
    width: 47px;
    height: 25px;
    position: absolute;
    background: url(../images/lvls-bg/3-10.png)-32px 0px no-repeat;
    z-index: 3;
}

.lvl3-10:hover{
    left: 1067px;
    top: 269px;
    z-index: 4;
}

.lvl3-10-1{
    left: 1040px;
    top: 271px;
    width: 27px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-10-1.png) no-repeat;
    z-index: 3;
}

.lvl3-10-1:hover{
    left: 1035px;
    top: 276px;
    z-index: 4;
}

.lvl3-10-2{
    left: 1064px;
    top: 269px;
    width: 26px;
    height: 21px;
    position: absolute;
    background: url(../images/lvls-bg/3-10-2.png) no-repeat;
    z-index: 5;
}

.lvl3-10-2:hover{
    left: 1059px;
    top: 274px;
    z-index: 6;
}
.lvl3-11{
    left: 797px;
    top: 96px;
    width: 38px;
    height: 38px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_01.png) no-repeat;
    z-index: 3;
}

.lvl3-11:hover{
    left: 792px;
    top: 101px;
    z-index: 4;
}

.lvl3-11_1{
    left: 797px;
    top: 134px;
    width: 38px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_02.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_1:hover{
    left: 792px;
    top: 139px;
    z-index: 4;
}

.lvl3-11_2{
    left: 797px;
    top: 152px;
    width: 38px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_03.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_2:hover{
    left: 792px;
    top: 157px;
    z-index: 4;
}

.lvl3-11_3{
    left: 797px;
    top: 171px;
    width: 38px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_03.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_3:hover{
    left: 792px;
    top: 176px;
    z-index: 4;
}

.lvl3-11_4{
    left: 797px;
    top: 190px;
    width: 38px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_04.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_4:hover{
    left: 792px;
    top: 195px;
    z-index: 4;
}

.lvl3-11_5{
    left: 797px;
    top: 209px;
    width: 38px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_05.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_5:hover{
    left: 792px;
    top: 214px;
    z-index: 4;
}

.lvl3-11_6{
    left: 797px;
    top: 227px;
    width: 38px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_06.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_6:hover{
    left: 792px;
    top: 232px;
    z-index: 4;
}

.lvl3-11_7{
    left: 797px;
    top: 246px;
    width: 38px;
    height: 14px;
    position: absolute;
    background: url(../images/lvls-bg/3-11_08.jpg) no-repeat;
    z-index: 3;
}

.lvl3-11_7:hover{
    left: 792px;
    top: 251px;
    z-index: 4;
}

.lvl3-12-1{
    left: 845px;
    top: 196px;
    
    width: 35px;
    
    height: 13px;
    position: absolute;
    background: url(../images/lvls-bg/3-12_01.png) no-repeat;
    z-index: 3;
}

.lvl3-12-1:hover{
    left: 840px;
    top: 201px;
    z-index: 4;
}

.lvl3-12-2{
    left: 845px;
    
    top: 209px;
    width: 44px;
    
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/3-12_02.png) no-repeat;
    z-index: 3;
}

.lvl3-12-2:hover{
    left: 840px;
    top: 214px;
    z-index: 4;
}

.lvl3-12-3{
    left: 845px;
    
    top: 227px;
    width: 44px;
    
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-12_03.png) no-repeat;
    z-index: 3;
}

.lvl3-12-3:hover{
    left: 840px;
    top: 232px;
    z-index: 4;
}

.lvl3-12-4{
    left: 845px;
    
    top: 246px;
    width: 44px;
    
    height: 14px;
    position: absolute;
    background: url(../images/lvls-bg/3-12_04.png) no-repeat;
    z-index: 3;
}

.lvl3-12-4:hover{
    left: 840px;
    top: 251px;
    z-index: 4;
}

.lvl3-13-1{
    left: 845px;
    top: 107px;
    width: 44px;
    height: 27px;
    position: absolute;
    background: url(../images/lvls-bg/3-13_01.png) no-repeat;
    z-index: 3;
}

.lvl3-13-1:hover{
    left: 840px;
    top: 112px;
    z-index: 4;
}

.lvl3-13-2{
    left: 845px;
    top: 134px;
    width: 44px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/3-13_02.png) no-repeat;
    z-index: 3;
}

.lvl3-13-2:hover{
    left: 840px;
    top: 139px;
    z-index: 4;
}

.lvl3-13-3{
    left: 845px;
    top: 152px;
    width: 44px;
    height: 36px;
    position: absolute;
    background: url(../images/lvls-bg/3-13_03.png) no-repeat;
    z-index: 3;
}

.lvl3-13-3:hover{
    left: 840px;
    top: 157px;
    z-index: 4;
}

.lvl3-14{
    left: 966px;
    top: 97px;
    width: 31px;
    height: 29px;
    position: absolute;
    background: url(../images/lvls-bg/3-14.png) no-repeat;
    z-index: 3;
}

.lvl3-14:hover{
    left: 961px;
    top: 102px;
    z-index: 4;
}

.lvl3-15-1{
    left: 912px;
    
    top: 107px;
    width: 37px;
    
    height: 27px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_01.png) no-repeat;
    z-index: 3;
}

.lvl3-15-1:hover{
    left: 907px;
    top: 112px;
    z-index: 4;
}

.lvl3-15-2{
    left: 912px;
    
    top: 134px;
    width: 37px;
    
    height: 37px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_02.png) no-repeat;
    z-index: 3;
}

.lvl3-15-2:hover{
    left: 907px;
    top: 139px;
    z-index: 4;
}

.lvl3-15-3{
    left: 912px;
    
    top: 171px;
    width: 37px;
    
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_03.png) no-repeat;
    z-index: 3;
}

.lvl3-15-3:hover{
    left: 907px;
    top: 176px;
    z-index: 4;
}

.lvl3-15-4{
    left: 912px;
    
    top: 190px;
    width: 37px;
    
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_04.png) no-repeat;
    z-index: 3;
}

.lvl3-15-4:hover{
    left: 907px;
    top: 195px;
    z-index: 4;
}

.lvl3-15-5{
    left: 912px;
    
    top: 209px;
    width: 37px;
    
    height: 27px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_05.png) no-repeat;
    z-index: 3;
}

.lvl3-15-5:hover{
    left: 907px;
    top: 214px;
    z-index: 4;
}

.lvl3-15-6{
    left: 912px;
    
    top: 236px;
    width: 37px;
    
    height: 24px;
    position: absolute;
    background: url(../images/lvls-bg/3-15_06.png) no-repeat;
    z-index: 3;
}

.lvl3-15-6:hover{
    left: 907px;
    top: 241px;
    z-index: 4;
}

.lvl3-16-1{
    left: 959px;
    
    top: 138px;
    width: 38px;
    
    height: 36px;
    position: absolute;
    background: url(../images/lvls-bg/3-16_01.png) no-repeat;
    z-index: 3;
}

.lvl3-16-1:hover{
    left: 954px;
    top: 143px;
    z-index: 4;
}

.lvl3-16-2{
    left: 959px;
    
    top: 174px;
    width: 38px;
    
    height: 55px;
    position: absolute;
    background: url(../images/lvls-bg/3-16_02.png) no-repeat;
    z-index: 3;
}

.lvl3-16-2:hover{
    left: 954px;
    top: 179px;
    z-index: 4;
}

.lvl3-16-3{
    left: 959px;
    
    top: 229px;
    width: 38px;
    
    height: 35px;
    position: absolute;
    background: url(../images/lvls-bg/3-16_03.png) no-repeat;
    z-index: 3;
}

.lvl3-16-3:hover{
    left: 954px;
    top: 234px;
    z-index: 4;
}

.lvl3-17-1{
    left: 1064px;
    
    top: 144px;
    width: 44px;
    
    height: 55px;
    position: absolute;
    background: url(../images/lvls-bg/3-17_01.png) no-repeat;
    z-index: 3;
}

.lvl3-17-1:hover{
    left: 1059px;
    top: 149px;
    z-index: 4;
}

.lvl3-17-2{
    left: 1064px;
    
    top: 200px;
    width: 44px;
    
    height: 61px;
    position: absolute;
    background: url(../images/lvls-bg/3-17_02.png) no-repeat;
    z-index: 3;
}

.lvl3-17-2:hover{
    left: 1059px;
    top: 205px;
    z-index: 4;
}

.lvl3-18{
    left: 1064px;
    top: 28px;
    width: 38px;
    height: 117px;
    position: absolute;
    background: url(../images/lvls-bg/3-18.png) no-repeat;
    z-index: 3;
}

.lvl3-18:hover{
    left: 1059px;
    top: 33px;
    z-index: 4;
}

.lvl3-18-1{
    left: 1064px;
    top: 28px;
    width: 38px;
    height: 60px;
    position: absolute;
    
    background: url(../images/lvls-bg/3-18_01.png) no-repeat;
    z-index: 3;
}

.lvl3-18-1:hover{
    left: 1059px;
    top: 33px;
    z-index: 4;
}

.lvl3-18-2{
    left: 1064px;
    top: 88px;
    width: 38px;
    height: 55px;
    position: absolute;
    
    background: url(../images/lvls-bg/3-18_02.png) no-repeat;
    z-index: 3;
}

.lvl3-18-2:hover{
    left: 1059px;
    top: 93px;
    z-index: 4;
}
/* ЧЕТВЕРТЫЙ ЭТАЖ */


/* ПЯТЫЙ ЭТАЖ ЭТАЖ */
.lvl4-1-1{
    left: 248px;
    top: 234px;
    width: 136px;
    height: 30px;
    position: absolute;
    background: url(../images/lvls-bg/4-1_01.png) no-repeat;
    z-index: 3;
}

.lvl4-1-1:hover{
    left: 243px;
    top: 239px;
    z-index: 4;
}

.lvl4-1-2{
    left: 384px;
    top: 234px;
    width: 120px;
    height: 30px;
    position: absolute;
    background: url(../images/lvls-bg/4-1_02.png) no-repeat;
    z-index: 3;
}

.lvl4-1-2:hover{
    left: 389px;
    top: 239px;
    z-index: 4;
}

.lvl4-2{
    left: 1024px;
    top: 253px;
    width: 132px;
    height: 117px;
    position: absolute;
    background: url(../images/lvls-bg/4-2.png) no-repeat;
    z-index: 3;
}

.lvl4-2:hover{
    left: 1020px;
    top: 259px;
    z-index: 4;
}

.lvl4-2-1{
    left: 1025px;
    top: 253px;
    width: 22px;
    height: 26px;
    position: absolute;
    background: url(../images/lvls-bg/4-2-1.png) no-repeat;
    z-index: 3;
}

.lvl4-2-1:hover{
    left: 1020px;
    top: 258px;
    z-index: 4;
}

.lvl4-2-2{
    left: 1047px;
    top: 261px;
    width: 17px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-2-2.png) no-repeat;
    z-index: 3;
}

.lvl4-2-2:hover{
    left: 1042px;
    top: 266px;
    z-index: 4;
}

.lvl4-2-3{
    left: 1064px;
    top: 261px;
    width: 27px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-2-3.png) no-repeat;
    z-index: 7;
}

.lvl4-2-3:hover{
    left: 1059px;
    top: 266px;
    z-index: 8;
}

.lvl4-2-4{
    left: 1070px;
    top: 254px;
    width: 43px;
    height: 26px;
    position: absolute;
    background: url(../images/lvls-bg/4-2-4.png) no-repeat;
    z-index: 3;
}

.lvl4-2-4:hover{
    left: 1065px;
    top: 259px;
    z-index: 4;
}

.lvl4-3-1{
    left: 775px;
    top: 93px;
    width: 38px;
    height: 37px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_01.png) no-repeat;
    z-index: 3;
}

.lvl4-3-1:hover{
    left: 770px;
    top: 98px;
    z-index: 4;
}

.lvl4-3-2{
    left: 775px;
    top: 130px;
    width: 38px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_02.png) no-repeat;
    z-index: 3;
}

.lvl4-3-2:hover{
    left: 770px;
    top: 135px;
    z-index: 4;
}

.lvl4-3-3{
    left: 775px;
    top: 148px;
    width: 38px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_03.png) no-repeat;
    z-index: 3;
}

.lvl4-3-3:hover{
    left: 770px;
    top: 153px;
    z-index: 4;
}

.lvl4-3-4{
    left: 775px;
    top: 166px;
    width: 38px;
    height: 17px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_04.png) no-repeat;
    z-index: 3;
}

.lvl4-3-4:hover{
    left: 770px;
    top: 171px;
    z-index: 4;
}

.lvl4-3-5{
    left: 775px;
    top: 183px;
    width: 38px;
    height: 19px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_05.png) no-repeat;
    z-index: 3;
}

.lvl4-3-5:hover{
    left: 770px;
    top: 188px;
    z-index: 4;
}

.lvl4-3-6{
    left: 775px;
    top: 202px;
    width: 38px;
    height: 17px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_06.png) no-repeat;
    z-index: 3;
}

.lvl4-3-6:hover{
    left: 770px;
    top: 207px;
    z-index: 4;
}

.lvl4-3-7{
    left: 775px;
    top: 219px;
    width: 38px;
    height: 16px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_07.png) no-repeat;
    z-index: 3;
}

.lvl4-3-7:hover{
    left: 770px;
    top: 224px;
    z-index: 4;
}

.lvl4-3-8{
    left: 775px;
    top: 235px;
    width: 38px;
    height: 16px;
    position: absolute;
    background: url(../images/lvls-bg/4-3_08.png) no-repeat;
    z-index: 3;
}

.lvl4-3-8:hover{
    left: 770px;
    top: 240px;
    z-index: 4;
}

.lvl4-4-1{
    left: 814px;
    top: 104px;
    width: 38px;
    height: 26px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_01.png) no-repeat;
    z-index: 3;
}

.lvl4-4-1:hover{
    left: 809px;
    top: 109px;
    z-index: 4;
}

.lvl4-4-2{
    left: 814px;
    top: 130px;
    width: 37px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_02.png) no-repeat;
    z-index: 3;
}

.lvl4-4-2:hover{
    left: 809px;
    top: 135px;
    z-index: 4;
}

.lvl4-4-3{
    left: 814px;
    top: 148px;
    width: 37px;
    height: 54px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_03.png) no-repeat;
    z-index: 3;
}

.lvl4-4-3:hover{
    left: 809px;
    top: 153px;
    z-index: 4;
}

.lvl4-4-4{
    left: 814px;
    top: 202px;
    width: 38px;
    height: 17px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_04.png) no-repeat;
    z-index: 3;
}

.lvl4-4-4:hover{
    left: 809px;
    top: 207px;
    z-index: 4;
}

.lvl4-4-5{
    left: 814px;
    top: 219px;
    width: 37px;
    height: 18px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_05.png) no-repeat;
    z-index: 3;
}

.lvl4-4-5:hover{
    left: 809px;
    top: 224px;
    z-index: 4;
}

.lvl4-4-6{
    left: 814px;
    top: 237px;
    width: 37px;
    height: 14px;
    position: absolute;
    background: url(../images/lvls-bg/4-4_06.png) no-repeat;
    z-index: 3;
}

.lvl4-4-6:hover{
    left: 809px;
    top: 242px;
    z-index: 4;
}

.lvl4-5-1{
    left: 887px;
    top: 104px;
    width: 34px;
    height: 45px;
    position: absolute;
    background: url(../images/lvls-bg/4-5_01.png) no-repeat;
    z-index: 3;
}

.lvl4-5-1:hover{
    left: 882px;
    top: 109px;
    z-index: 4;
}

.lvl4-5-2{
    left: 887px;
    top: 149px;
    width: 35px;
    height: 39px;
    position: absolute;
    background: url(../images/lvls-bg/4-5_02.png) no-repeat;
    z-index: 3;
}

.lvl4-5-2:hover{
    left: 882px;
    top: 154px;
    z-index: 4;
}

.lvl4-5-3{
    left: 887px;
    top: 187px;
    width: 35px;
    height: 38px;
    position: absolute;
    background: url(../images/lvls-bg/4-5_03.png) no-repeat;
    z-index: 3;
}

.lvl4-5-3:hover{
    left: 882px;
    top: 192px;
    z-index: 4;
}

.lvl4-5-4{
    left: 887px;
    top: 225px;
    width: 35px;
    height: 26px;
    position: absolute;
    background: url(../images/lvls-bg/4-5_04.png) no-repeat;
    z-index: 3;
}

.lvl4-5-4:hover{
    left: 882px;
    top: 230px;
    z-index: 4;
}

.lvl4-6-1{
    left: 930px;
    top: 133px;
    width: 52px;
    height: 37px;
    position: absolute;
    background: url(../images/lvls-bg/4-6_01.png) no-repeat;
    z-index: 3;
}

.lvl4-6-1:hover{
    left: 925px;
    top: 138px;
    z-index: 4;
}

.lvl4-6-2{
    left: 930px;
    top: 170px;
    width: 52px;
    height: 51px;
    position: absolute;
    background: url(../images/lvls-bg/4-6_02.png) no-repeat;
    z-index: 3;
}

.lvl4-6-2:hover{
    left: 925px;
    top: 175px;
    z-index: 4;
}

.lvl4-6-3{
    left: 930px;
    top: 221px;
    width: 52px;
    height: 34px;
    position: absolute;
    background: url(../images/lvls-bg/4-6_03.png) no-repeat;
    z-index: 3;
}

.lvl4-6-3:hover{
    left: 925px;
    top: 226px;
    z-index: 4;
}

.lvl4-7{
   left: 928px;
    top: 88px;
    width: 54px;
    
   height: 35px;
    position: absolute;
    background: url(../images/lvls-bg/4-7.png) no-repeat;
    z-index: 3;
}

.lvl4-7:hover{
    left: 923px;
    top: 93px;
    z-index: 4;
}
/* ПЯТЫЙ ЭТАЖ ЭТАЖ */
.js-lvl-modal{
    top: 50%;
    position: fixed;
    left: 50%;
    z-index: 9999;
    width: 350px;
    margin-left: -175px;
    display: none;
    background: rgba(51, 51, 51, 0.89);
    border: 2px solid #c3cbd0;
    border-radius: 3px;
    padding: 5px 10px;
    color: #c3cbd0;
    font-size: 13px;
    text-align: justify;
}

.lvl-modal-content{
    margin-top: 5px;

}

.js-lvl-modal-close{
    position: relative;
    
    left: 100%;
    margin-left: -10px;
}

.js-lvl-modal-close:hover{
    cursor: pointer;
}
/**/
/* ------------------------------------------ */
/* Responsive style */
/* ------------------------------------------ */
@media (min-width: 1024px) and (min-height: 768px){
    body{
        background-image: url(../images/1024x768.jpg);
        background-position: 100% -158px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1280px) and (min-height: 800px){
    body{
        background-image: url(../images/1280x800.jpg);
        background-position: 100% 0px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1280px) and (min-height: 1024px){
    body{
        background-image: url(../images/1280x1024.jpg);
        background-position: 100% 108px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1366px) and (min-height: 768px){
    body{
        background-image: url(../images/1366x768.jpg);
        background-position: 100% -58px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1920px) and (min-height: 1080px){
    body{
        background-image: url(../images/1920x1080.jpg);
        background-position: 100% 108px;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }
}

@media (min-width: 1200px){
.container {
width: auto;
}

}
@media (max-width: 1200px){
.b-level-container{
padding: 0 15px;
}
.b-level-container .b-plane{
transform:scale(0.78);
-moz-transform:scale(0.78);
-ms-transform:scale(0.78);
-o-transform:scale(0.78);
-webkit-transform:scale(0.78);

-moz-transform-origin: 90px 0;
-ms-transform-origin: 90px 0;
-o-transform-origin: 90px 0;
-webkit-transform-origin: 90px 0;
transform-origin: 90px 0;
}

.b-page{
max-width: 822px;
}
.b-page header{
max-width: 812px;
}
.b-page .b-body, .b-bg-page{
width: 700px;
}
.b-data-block {
right: -302px;
width: 424px;
}

.b-button-order{
font: 17px Arial, Helvetica, sans-serif;
}
.b-basket{
width: 700px;
}
.b-table-order thead:after {
height: 82px;
}

}
@media (max-width: 1024px){
.b-data-block .b-block1 .b-wraper{
padding-right: 31px;
}



}

@media (max-width: 992px){
body{
background-size:auto;
}


    
}
/* Before 768px */
@media (min-width: 768px){

}

/* After 768px */
@media (max-width: 768px){

}

/*.b-txt, .b-intro-text, .b-galery-container, .b-contact, .b-from-send, .b-intro-img, .b-title-page, .b-box-inner, .b-level-block, .b-pay-info-block, .b-offer-block{
    display: none;
}*/